/* Pc >=1024 Table>=740 & < 1024px Mobile: <740px */

/* pc */
@media (min-width: 1024px) {}

/* ipad */

@media (min-width: 740px) and (max-width: 1023px) {}

/* mobile */

@media (max-width:769px) {
    .w-md-100 {
        width: 100% !important;
    }


    .footer {
        margin-top: 50px;
        padding-top: 50px;
        background-color: var(--footer-bg-color);
    }

    .main__story__banner1 {
        background-image: url(../images/cauchuyen1-mobile.png);
        min-height: 1185px;
    }

    .main__story__banner2 {
        background-image: url(../images/cauchuyen2-mobile.png);
        min-height: 938px;
    }

    .main__story__banner3 {
        background-image: url(../images/cauchuyen3-mobile.png);
        min-height: 1459px;
    }

}

@media (max-width:576px) {
    .fz-ex-18px {
        font-size: 18px;
    }
}

/* ipad mobile  */

@media (max-width: 1023px) {}